/*
Colors used
Primary Color (Dark purple): #22264b;
Secondary Color (Rosa): #B05F5F;
Tertiary Color (Yellow): #e6cf8b;
Fourth Color (White): #FFFFFF;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: white;
}
header {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #22264b;
}
.hero {
  width: 100%;
}
.hero img {
  max-width: 100%;
  border: none;
  margin-top: -7px;
}
footer {
  display:inline-block;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 40px 0 ;
  background-color: #22264b;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}
.color-background {
  width: 100%;
  height: 280px;
  background-color: #22264b;
}
.color-background h1 {
  border: none;
  margin-top: -7px;
  padding-top: 20px;
  color: #FFFFFF;
}
.color-background h2 {
  border: none;
  color: #FFFFFF;
}
.color-background h3 {
  font-style: italic !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
}
.color-background-2 {
  width: 100%;
  height: 140px;
  background-color: #B05F5F;
}
.color-background-2 h2 {
  font-style:normal !important;
  border: none;
  margin-top: -7px;
  padding-top: 40px;
  color: #FFFFFF;
}
.arrow-down {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #B05F5F
  ;
}
h1 {
  font-size: 42px;
  text-align: center;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  color:#22264b;
}
h2 {
  font-size: 36px;
  font-style: italic;
  color: #191919;
  text-align: center;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  color: #22264b;
}
ul {
  overflow: hidden;
}
a {
  color: #FFFFFF;
  text-decoration:none;
}
a:visited {
  /* visited link */
  color: #FFFFFF;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #B05F5F;
}
a:active {
  /* selected link */
  color: #B05F5F;
}
a,
.a-main {
  color: #B05F5F;
  text-decoration:none;
}
.a-main:visited {
  /* visited link */
  color: #B05F5F;
}
.a-main:hover,
.a-main:focus {
  text-decoration: none;
  color: #22264b;
}
.a-main:active {
  /* selected link */
  color: #22264b;
}
button,
.button {
  /* overwrite browser defaults */
  margin-top: 20px;
  margin-bottom: 20px;
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */
  font-size: 16px;
  /* style button */
  background-color: #B05F5F;;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 0px solid #B05F5F;;
  transition-duration: 0.2s;
  transition: 0.4s background-color;
  display: inline-block;
  box-shadow: none !important;
}
.button:hover {
  background-color: #22264b;
}
button,
.button-test {
  /* overwrite browser defaults */
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px #B05F5F; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */
  font-size: 24px;
  /* style button */
  background-color: #B05F5F;
  color: white !important;
  text-decoration: none;
  padding: 15px;
  border-radius: 3px;
  border-bottom: 0px solid #B05F5F;
  transition-duration: 0.2s;
  transition: 0.4s background-color;
  display: inline-block;
  box-shadow: none !important;
}
.button-test:hover {
  background-color: #22264b;
}
/* Layout styling */
.wrapper, nav {
  max-width: 1200px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 20px;
}
.wrapper, h2 {
  font-style: normal;
}
.columns-container {
  font-size: 0;
  min-height: 320px;
}
.column-4 {
  font-size: 16px;
  display: inline-block;
  width: 23.5%;
  margin-right: 2%;
  text-align: center;
  /* other rules... */
  vertical-align:top;
}
.column-4:last-child{
  margin-right: 0;
}
nav {
  display: table;
  width: 100%;
}
.navigation {
  list-style-type: none;
  padding-right:50px;
  padding-left: 10px;
  float: right;
  word-spacing: 25px;
}
.navigation > li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.page_title {
  text-align: center;
}

.page-title h1 {
  margin: 80px 0 40px;
}
.page-title h2 {
  margin: 40px 0 80px;
}
.linkedin-icon {
  /* made the LinkediN icon smaller */
  width: 9%;
}
.connect-in {
  /* this is a placeholder just in case */
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  font-size: 20px;
}
img {
  /* added thin image border to ensure consistent outlook for the images */
  border:1px solid #B05F5F;
}
img,
.img-main {
  /* added thin image border to ensure consistent outlook for the images */
  border:1px solid #B05F5F;
  max-width: 600px;
  margin-top:10px;
  margin-bottom: 10px;
}

.text-paragraph {
  /* paragraph with fixed width */
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.text-paragraph-main {
  /* paragraph with fixed width */
  max-width: 1000px;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 24px;
}
.text-paragraph-video {
  /* paragraph with fixed width */
  max-width: 1000px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -7px;
  font-size: 12px;
}
.contact-paragraph {
  /* paragraph with fixed width */
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contact-paragraph a:link{
  color: #B05F5F;;
}
.contact-paragraph a:visited {
  /* visited link */
  color: #B05F5F;;
}
.contact-paragraph a:hover {
  color: #22264b;
}
.title-center {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.title-center-3 {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  margin-top: -25px;
}
.panorama {
  display: block;
  text-align: center;
}
.panorama svg {
  max-width: 800px;
  margin: 10px 0 0;
  border: 1px solid #B05F5F;;
}
/*jquery styling */
.project {
  position: relative;
}
.project-details {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96.5%;
  margin: 0px; /* Reset this to 0 */
  padding: 10px;
  font-size: 20px;
  color: #FFFFFF;
  background: rgba(181, 105, 105, 0.93);
  cursor: none;
}
.project-details a {
  color: #FFFFFF;
  text-decoration: underline;
}
.project-details a:visited {
  /* visited link */
  color: #FFFFFF;
}
.project-details a:hover,
a:focus {
  text-decoration: none;
  color: #22264b;
}
.project-details a:active {
  /* selected link */
  color: #22264b;
}
.project-preview h3 {
  color:#22264b;
}
.project-preview img {
  max-width: 100%;
  border:1px solid #B05F5F;
}
.special-4 {
  cursor: pointer;
}
@keyframes metro-move {
  from {transform: translate(0,172px);}
  to {transform: translate(300px,172px);}
}
.metro {
  animation: 15s metro-move infinite alternate linear;
}
@media (max-width: 991px) {
  h1 {
    /* Reduce font-size of heading */
    font-size: 36px;
    text-align: center;
  }
  h2 {
    /* Reduce font-size of heading */
    font-size: 28px;
    text-align: center;
  }
  h3 {
    /* Reduce font-size of heading */
    font-size: 20px;
    text-align: center;
  }
  .column-4 {
    /* Modify 4-column to 2-columns */
    width: 49%;
  }
  .column-4:nth-child(even) {
    margin-right: 0;
  }
  .navigation {
    /* Modify 4-column to 2-columns */
    font-size: 20px;
    text-align: left;
  }
  header {
    font-size: 16px;
    min-width: 320px;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
  h1 {
    /* Reduce font-size of heading */
    font-size: 36px;
  }
  h2 {
    /* Reduce font-size of heading */
    font-size: 28px;
    text-align: center;
  }
  h3 {
    /* Reduce font-size of heading */
    font-size: 20px;
    text-align: center;
  }
  .column-4 {
    /* Modify 4-column to 2-columns */
    width: 100%;
    margin-right: 0;
  }
  .navigation {
    /* Modify 4-column to 2-columns */
    font-size: 14px;
    text-align: left;
  }
  .color-background {
    width: 100%;
    height: 380px;
    background-color: #22264b;
  }
  .color-background-2 h2 {
    font-style:normal !important;
    border: none;
    margin-top: -7px;
    padding-top: 20px;
    color: #FFFFFF
  }
}
