/*
Colors used

Primary Color (Pink): #E56399;
Secondary Color (Blue): #5BC0EB;
Tertiary Color (Black): #191919;
Fourth Color (White): #FFFFFF;
Fifth Color (Grey): #C4C6C7;
*/

body {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
}

.logo {
  float: left;
  display: inline-block;
  vertical-align: baseline;
}

h1 {
  font-size: 26px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #191919;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  color: #191919;
}

a {
  color: #E56399;
  text-decoration:none;
}

a:visited {
  /* visited link */
  color: #E56399;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #C4C6C7;
}

a:active {
  /* selected link */
  color: #E56399;
}

.button {
  /* overwrite browser defaults */
  margin-top: 20px;
  margin-bottom: 20px;
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */
  display: inline-block;
  font-size: 16px;

  /* style button */
  background-color: #E56399;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: background-color
}

.button:hover {
  background-color: #C4C6C7;
}

/* Layout styling */
.wrapper {
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 20px;
}

.columns-container {
  font-size: 0;
}

.column-4 {
  font-size: 16px;
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  text-align: center;
}

nav {
  float: right;
  display: inline-block;
}
.navigation {
  list-style-type: none;
  padding-right:10px;
  padding-left: 10px;
}
.navigation > li {
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 1000px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 100px;
  }
  h1 {
    /* Reduce font-size of heading */
    font-size: 26px;
    text-align: left;
  }
  h2 {
    /* Reduce font-size of heading */
    font-size: 20px;
    text-align: left;
  }
  h3 {
    /* Reduce font-size of heading */
    font-size: 20px;
    text-align: left;
  }
  .column-4 {
    /* Modify 4-column to 2-columns */
    width: 49%;
    margin-right: 1%;
  }
  .navigation {
    /* Modify 4-column to 2-columns */
    font-size: 14px;
    text-align: left;
  }

  header {
    font-size: 12px;
    min-width: 320;
  }
}

@media (max-width: 500px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 100px;
  }
  h1 {
    /* Reduce font-size of heading */
    font-size: 20px;
    text-align: left;
  }
  h2 {
    /* Reduce font-size of heading */
    font-size: 18px;
    text-align: left;
  }
  h3 {
    /* Reduce font-size of heading */
    font-size: 18px;
    text-align: left;
  }
  .column-4 {
    /* Modify 4-column to 2-columns */
    width: auto;
    margin-right: 1%;
  }
  .navigation {
    /* Modify 4-column to 2-columns */
    font-size: 14px;
    text-align: left;
  }

  header {
    font-size: 12px;
    min-width: 320;
  }
}

.page_title {
  text-align: center;
}

.page-title h1 {
  margin: 80px 0 40px;
}
.page-title h2 {
  margin: 40px 0 80px;
}

svg {
  /* made the LinkediN icon smaller */
  width: 9%;
}

.connect-in {
  /* this is a placeholder just in case */
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  font-size: 20;
}

img {
  /* added thin image border to ensure consistent outlook for the images */
  border:1px solid #C4C6C7;
}
