/*
Colors used

Primary Color (Pink): #E56399;
Secondary Color (Blue): #5BC0EB;
Tertiary Color (Black): #191919;
Fourth Color (White): #FFFFFF;
Fifth Color (Grey): #C4C6C7;
*/
body {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
  color: #191919;
}

h3 {
  font-size: 20px;
  color: #5BC0EB;
}

div {
  max-width: 600px;
  margin-top: 20px;
}

a {
  color: #E56399;
  text-decoration:none;
}

a:visited {
  /* visited link */
  color: #E56399;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #C4C6C7;
}

a:active {
  /* selected link */
  color: #E56399;
}

.button {
  /* overwrite browser defaults */
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */
  font-size: 16px;

  /* style button */
  background-color: #E56399;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:hover {
  background: #C4C6C7;
}
